---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { render } from "astro:content";
import { SHOW_BUY_BUTTON } from "astro:env/server";
import AmazonLogo from "../../components/AmazonLogo.astro";
import BookScore from "../../components/BookScore.astro";
import BuyButton from "../../components/BuyButton.astro";

export const getStaticPaths = async () => {
  const books = await getCollection("books");

  return books.map((book) => ({
    params: {
      slug: book.slug,
    },
    props: {
      book,
    },
  }));
};

const { book } = Astro.props;
const { slug, data } = book;
const { title, author, img, readtime, description, buy } = data;

const { Content } = await render(book);

export const prerender = true;
---

<Layout>
  <div class="flex flex-col sm:flex-row gap-12">
    <aside class="flex flex-col items-center gap-4">
      <a href="/" class="hover:underline opacity-70">← Volver atrás</a>
      <img
        transition:name={`img-${slug}`}
        class="rounded w-72 h-auto"
        src={`/${img}`}
        alt={title}
      />

      {
        SHOW_BUY_BUTTON && (
          <BuyButton server:defer buy={buy}>
            <span
              slot="fallback"
              title="Comprar libro"
              class="text-balance inline-flex gap-2 items-center bg-yellow-400 hover:bg-yellow-500 active:bg-yellow-600 text-black font-bold py-2 px-4 rounded-lg border border-yellow-500 transition duration-200 ease-in-out hover:scale-105 justify-center text-center"
            >
              Comprar en Amazon
              <AmazonLogo />
            </span>
          </BuyButton>
        )
      }

      <BookScore server:defer>
        <span class="text-xs opacity-70" slot="fallback"
          >Cargando puntuación...</span
        >
      </BookScore>
    </aside>

    <main class="max-w-3xl">
      <h1 transition:name={`title-${slug}`} class="text-4xl font-bold mb-4">
        {title}
      </h1>
      <div class="prose prose-invert">
        <Content />
      </div>
    </main>
  </div>
</Layout>
